body {
    font-family: 'Open Sans', sans-serif;
}

.website-title {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 20px;
    text-align: center;
    background-color: green;
    color: white;

}

tr {
    height: 20px;
}

.item-container {
    width: 200px;
}

.price-container {
    width: 100px;
}

.calculate {
    text-align: center;
    padding-top: 10px;
}

button {
    
    background-color: green;
    border: none;
    color: white;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 32px;
}

button:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.total, .subtotal {
    text-align: center;
}

.total-items {
    text-align: center;
    word-break: break-word;
}

