.website-title {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    flex: 50%;
    padding-right: 3px;
    padding-bottom: 5px;
}

.row:after {
    content: "";
    display: flex;
    clear: both;
}

table {
    padding-top: 30px;
}

.add-button {
    float: left;
    flex: 50%;
    padding-right: 3px;
    padding-bottom: 5px;
    content: "";
    display: flex;
    clear: both;
}

